<StackLayout padding="10dpi">

    <!--<StackLayout orientation="horizontal" class="form"
                 horizontalAlignment="center" verticalAlignment="center">
        <TextField hint="Enter filter text" text=""
                   class="kr-input"></TextField>
    </StackLayout>-->

    <!--<StackLayout orientation="horizontal"
                 horizontalAlignment="center" verticalAlignment="center" >
        <Label text="Filter on: " verticalAlignment="center"></Label>
        <Button [text]="selectedFilterProp" (tap)="showFilterListPicker($event)"
                class="btn btn-outline btn-rounded-sm"
                verticalAlignment="center"></Button>
        <TextField hint="Enter filter text" text="" verticalAlignment="center"
                   class="input input-rounded" isEnabled="{{selectedFilterProp !== emptyFilterProp}}"></TextField>
    </StackLayout>-->

    <GridLayout columns="auto, auto, *" rows="auto" horizontalAlignment="center"
                verticalAlignment="center" >
        <Label text="Filter on: " verticalAlignment="center" col="0"></Label>
        <Button [text]="selectedFilterProp" (tap)="showFilterListPicker($event)" col="1"
                class="btn btn-outline btn-rounded-sm"
                verticalAlignment="center"></Button>
        <TextField #filterTextField hint="Enter filter text"
                   text="" verticalAlignment="center" col="2"
                   class="input input-rounded"
                   isEnabled="{{selectedFilterProp !== emptyFilterProp}}"></TextField>
    </GridLayout>

    <!--<ListPicker [items]="filterOnProps" selectedIndex="0"
                (selectedIndexChange)="filterItemChanged($event)"
                class="p-15"></ListPicker>-->

</StackLayout>
