@import '~nativescript-theme-core/scss/sky';
@import '../../app-variables';

.page-content {
    .page-placeholder {
        color: $page-icon-color;
        //font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

$order-odd-bg-color: #f2f2f2;
$order-even-bg-color: #d1e1f9;

.odd {
  background-color: $order-odd-bg-color;
}

.even {
  background-color: $order-even-bg-color;
}

#cardItemsStack {
    //margin: 2dpi;
    padding: 10dpi;
}

.cardStyle {
  //background-color: #9e9e9e;
  //background-color: #3489db;
  //color: #fff;
  margin: 5dpi;
  //padding: 10dpi;
}
