<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onMainMenuTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" (tap)="onMainMenuTap()"
                ios.position="left" android:visibility="collapsed">
    </ActionItem>
    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">

    <StackLayout tkDrawerContent>
        <SideDrawer [selectedPage]="'Home'"></SideDrawer>
    </StackLayout>

    <GridLayout class="page-content" tkMainContent>
        <StackLayout padding="10dpi" class="form">

            <SegmentedBar [items]="segBarItems" selectedIndex="0"
                          (selectedIndexChange)="onSegBarSelectedIndexChange($event)" class="m-5"></SegmentedBar>
            <GridLayout columns="auto, auto, *" rows="auto" horizontalAlignment="center"
                        verticalAlignment="center" >
                <Label text="Filter on: " verticalAlignment="center" col="0"></Label>
                <Button [text]="selectedFilterProp" (tap)="showFilterListPicker($event)" col="1"
                        class="btn btn-outline btn-rounded-sm"
                        verticalAlignment="center"></Button>
                <TextField #filterTextField hint="Enter filter text"
                           text="" verticalAlignment="center" col="2"
                           class="input input-rounded"
                           isEnabled="{{selectedFilterProp !== emptyFilterProp }}"></TextField>
            </GridLayout>

            <ListView [items]="orders" separatorColor="white">
                <ng-template let-item="item" let-odd="odd" let-even="even">
                    <CardView radius="{{getCardViewRadius()}}" class="cardStyle" [class.odd]="odd" [class.even]="even">

                            <StackLayout id="cardItemsStack"
                                         horizontalAlignment="center" verticalAlignment="center">

                                <GridLayout columns="*, 3*" rows="auto, auto, auto, auto, auto, auto"
                                            marginTop="7" marginBottom="7" marginLeft="5">

                                    <Image src="{{getIconSource(item.materialType, item.materialType)}}"
                                           stretch="fill" rowSpan="3" col="0" row="0"
                                           marginBottom="2" backgroundColor="#6495ed" borderRadius="10"></Image>

                                    <!--<Button rowSpan="3" col="0" row="3" marginTop="2" borderRadius="10"
                                            backgroundColor="{{getButtonBgColor(item)}}"
                                            textWrap="true" text="{{getButtonStatus(item)}}"
                                            padding="5" (tap)="confirmPickup(item)" >
                                    </Button>-->

                                    <Button *ngIf="item.isPickedOrShipped === true; else notPickedOrShipped"
                                            rowSpan="3" col="0" row="3" marginTop="2" borderRadius="10"
                                            backgroundColor="{{getButtonBgColor(item)}}" textWrap="true"
                                            padding="5" (tap)="confirmPickup(item)" class="pick-or-del-btn">
                                        <FormattedString>
                                            <Span text="&#xf046;&#x000a;" class="fa"></Span>
                                            <Span text="{{getButtonStatus(item)}}"></Span>
                                        </FormattedString>
                                    </Button>

                                    <ng-template #notPickedOrShipped>
                                        <Button rowSpan="3" col="0" row="3" marginTop="2" borderRadius="10"
                                                backgroundColor="{{getButtonBgColor(item)}}" textWrap="true"
                                                padding="5" (tap)="confirmPickup(item)" class="pick-or-del-btn">
                                            <FormattedString>
                                                <Span text="&#xf096;&#x000a;" class="fa"></Span>
                                                <Span text="{{getButtonStatus(item)}}"></Span>
                                            </FormattedString>
                                        </Button>
                                    </ng-template>

                                    <StackLayout id="labelStackId" col="1" row="0" rowSpan="6" paddingLeft="10">

                                        <Label text="{{item.jobName + '-' + item.purchOrderNum}}" textWrap="true"
                                               horizontalAlignment="center"
                                               class="h2" ></Label>

                                        <StackLayout class="hr-dark"></StackLayout>

                                        <Label textWrap="true"
                                               [ngClass]="{'m-b-1': item.note, 'm-b-5': !item.note, 'm-t-5':true, 'cardOrderListLabel':true}" >
                                            <FormattedString>
                                                <Span text="Status: "></Span>
                                                <Span text="{{getOrderStatus(item)}}" color="{{getOrderStatusColor(item)}}"></Span>
                                            </FormattedString>
                                        </Label>
                                        <Label *ngIf="item.note" text="{{item.note}}" class="m-b-5 m-l-15 m-r-15 cardOrderListNoteLabel"
                                               textWrap="true"></Label>
                                        <Label textWrap="true" class="m-b-5">
                                            <FormattedString>
                                                <Span text="Pickup Date: " class="cardOrderListLabel"></Span>
                                                <Span text="{{item.pickupDate | date:'medium'}}" class="cardOrderListLabel"></Span>
                                            </FormattedString>
                                        </Label>
                                        <Label text="City: {{item.city}}" textWrap="true" class="cardOrderListLabel m-b-5"></Label>
                                        <Label text="Sales Order#: {{item.salesOrderNum}}" textWrap="true" class="cardOrderListLabel"></Label>
                                        <!--<Label text="Pickup Date: {{item.pickupDate | date:'medium'}}" textWrap="true"></Label>-->

                                    </StackLayout>

                                </GridLayout>


                            </StackLayout>
                    </CardView>
                </ng-template>
            </ListView>

        </StackLayout>

    </GridLayout>
</RadSideDrawer>

